@import "tailwindcss";

@theme {
  --color-bgMain: #0c0c12;
  --color-bgSec: #2c3434;
  --color-acc1: #546ca4;
  --color-acc2: #24243f;
  --color-acc3: #243c74;
}

@layer base {
  body {
    @apply bg-bgMain text-gray-100 antialiased;
  }
}